.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  animation: slide-1920 9000ms alternate infinite ease-in;
}

.hero__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero__container {
  padding-top: 141px;
  padding-bottom: 122px;
  min-height: 700px;
}

.hero__title {
  margin-bottom: 21px;
  max-width: 597px;
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  color: white;
}

.hero__descr {
  margin-bottom: 92px;
  max-width: 579px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: white;
}

.hero__button {
  display: inline-block;
  padding: 21px 32px 22px;
  border-radius: 100px;
  border: 3px solid var(--main-color);
  max-width: 320px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: var(--main-color);
  transition: border-color var(--transition-delay) var(--transition-timing);
}

.hero__button:hover {
  border-color: #d1a9f0;
}

.hero__button:focus {
  border-color: var(--main-color);
  outline: 2px solid var(--main-color);
  outline-offset: 3px;
}

.hero__button:active {
  border-color: #d1a9f0;
  background-color: var(--active-color);
}

@media (max-width: 1366px) {
  .hero {
    animation: slide-1024 9000ms alternate infinite ease-in;
  }

  .hero__container {
    padding-top: 113px;
    padding-bottom: 114px;
    min-height: 668px;
  }

  .hero__title {
    margin-bottom: 11px;
    line-height: 83px;
  }

  .hero__descr {
    margin-bottom: 134px;
    max-width: 660px;
  }
}

@media (max-width: 976px) {
  .hero {
    animation: slide-768 9000ms alternate infinite ease-in;
  }

  .hero__container {
    padding-bottom: 114px;
    min-height: 667px;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .hero__container {
    min-height: 594px;
  }

  .hero__title {
    font-size: 48px;
    line-height: 48px;
  }

  .hero__descr {
    margin-bottom: 100px;
  }
}

@media (max-width: 576px) {
  .hero {
    animation: slide-320 9000ms alternate infinite ease-in;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 310px;
    padding: 34px 10px 45px;
    background-position: 0 -14vw;
    background-size: cover;
  }

  .hero__title {
    margin-bottom: 12.5px;
    max-width: 300px;
    font-size: 32px;
    line-height: 36.5px;
    text-align: center;
  }

  .hero__descr {
    margin-bottom: 42px;
    margin-right: 0;
    max-width: 270px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
  }

  .hero__button {
    font-size: 12px;
    padding: 9px 14px 11px 17px;
  }
}

@keyframes slide-1920 {
  0% {
    background-image: url('../img/hero/hero-img-1-1920.jpg');
  }

  50% {
    background-image: url('../img/hero/hero-img-2-1920.jpg');
  }

  100% {
    background-image: url('../img/hero/hero-img-3-1920.jpg');
  }
}

@keyframes slide-1024 {
  0% {
    background-image: url('../img/hero/hero-img-1-1024.jpg');
  }

  50% {
    background-image: url('../img/hero/hero-img-2-1024.jpg');
  }

  100% {
    background-image: url('../img/hero/hero-img-3-1024.jpg');
  }
}

@keyframes slide-768 {
  0% {
    background-image: url('../img/hero/hero-img-1-768.jpg');
  }

  50% {
    background-image: url('../img/hero/hero-img-2-768.jpg');
  }

  100% {
    background-image: url('../img/hero/hero-img-3-768.jpg');
  }
}

@keyframes slide-320 {
  0% {
    background-image: url('../img/hero/hero-img-1-320.jpg');
  }

  50% {
    background-image: url('../img/hero/hero-img-2-320.jpg');
  }

  100% {
    background-image: url('../img/hero/hero-img-3-320.jpg');
  }
}
